<p id="notice"><%= notice %></p>

<h1>Listing Topiccs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topiccs.each do |topicc| %>
      <tr>
        <td><%= topicc.title %></td>
        <td><%= topicc.desc %></td>
        <td><%= link_to 'Show', topicc %></td>
        <td><%= link_to 'Edit', edit_topicc_path(topicc) %></td>
        <td><%= link_to 'Destroy', topicc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topicc', new_topicc_path %>
